html {
  margin: 0;
  padding: 0;
}

body {
  font-size: 1rem;
  background: #fff;
  margin: 0;
  padding: 0;
}

h1 {
  background-color: orange;
  margin: 0;
  padding: 0 1rem;
}

#video-container {
  margin: 0;
  padding: 0;
  position: relative;
}

video {
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  width: 320px;
  height: 240px;
  position: absolute;
}

#overlay {
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  width: 320px;
  height: 240px;
  position: absolute;
}

#video-plane {
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  width: 320px;
  height: 240px;
  position: absolute;
}


